{
  "datacenter": "{{ _consul.datacenter }}",
  "domain": "{{ _consul.domain }}",
  "data_dir": "{{ _consul.data_dir }}",
{% if _consul.bind_addr is defined %}
  "bind_addr": "{{ _consul.bind_addr }}",
{% endif %}
{% if _consul.client_addr is defined %}
  "client_addr": "{{ _consul.client_addr }}",
{% endif %}
{% if _consul.node_name is defined %}
  "node_name": "{{ _consul.node_name }}",
{% endif %}
{% if _consul.server is defined %}
  "server": {{ _consul.server | lower }},
{% endif %}
{% if _consul.raft_protocol is defined %}
  "raft_protocol": {{ _consul.raft_protocol }},
{% endif %}
{% if _consul.ui is defined %}
  "ui": {{ _consul.ui  | lower }},
{% endif %}
  "enable_local_script_checks": true,
  "dns_config": {
    "enable_additional_node_meta_txt": false
  },
{% if _consul.metadata is defined %}
  "node_meta": {
    {% for k,v in _consul.metadata.items() %}"{{ k }}": "{{ v }}"{% if not loop.last %},
    {% endif %}{% endfor %}
  },
{% endif %}
  "log_level": "{{ _consul.log_level|default('INFO') }}",
  "retry_join": [
    "provider=aws tag_key={{ _consul.cluster.tag_key }} tag_value={{ _consul.cluster.tag_value }}"
  ]{% if _consul.crypto is defined and _consul.crypto.tls is defined %},
  "ports": {
    "https": {{ _consul.crypto.tls.https_port }}
  }
  {% endif %}
}
