# Specify additional flags to be added to the command line

CONSUL_FLAGS="{{ _consul.flags|join(" ") }}"
{% if _consul.daemon_args is defined %}DAEMON_ARGS="{{ _consul.daemon_args|join(" ")  }}"{% endif %}
